.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  margin-bottom: 50px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.form_wrap {
  margin: 0px auto;
  max-width: 400px;
}
input,textarea {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
li {
  list-style: none;
}
#form_text {
  height: 100px;
}
.head_name {
  margin: 5px 0px;
  font-weight: bolder;
}
.list_wrap {
  text-align: left;
  width: 400px;
  margin: 0px auto;
}
.wrap_btn_link {
  float: right;
  font-weight: normal;
  
}
.btn_link {
  padding: 0px 5px;
  color: #00f;
  text-decoration: underline;
  cursor: pointer;

}